<%= render partial: 'shared/nav', locals: {title: 'Transactions', symbol:'<', url: categories_path}%>
<div class"deals-header">
<h3><%= @category.name %></h3>
<p>$<%= @deals.sum {|deal| deal.amount} %></p>
</div>
<div id="deals">
  <% @deals.each do |deal| %>
    <%= render deal %>
  <% end %>
</div>

<button><%= link_to "Add a new transaction", new_category_deal_path %></button>
