<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<nav class="">
  <div class="navbar">
 <p>
  <span>
    <%= link_to 'â†', :back, class: 'arrow-link' %>
  </span>
</p>
    <h2 class="login">LOGIN</h2>
    <div class="actions">
    <%= f.submit "Log in", class: 'login-btn'%>
  </div>
  </div>
</nav>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "login-field"%>
  </div>

  <div class="fields">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "login-field" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="checkbox-field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  
<% end %>

<%= render "devise/shared/links" %>